name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        
    - name: Set Poetry Config
      run: |
        poetry config virtualenvs.create false

    - name: Build the package
      run: |
          poetry build

    - name: Install package
      run: |
            pip install dist/pytest_dbt-0.1.0-py3-none-any.whl

    - name: Run tests with pytest
      run: |
        cd jaffle_shop
        pytest
